/* Reset / Default */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* Outer content container */
#content_container {
    position: absolute;
    left: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 0;
}

/* Background */
.background_static {
    background: radial-gradient(circle, #172035, #080b12);
    background-size: 100% 200%;
    height: 100%;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10;
}

/* Header */
#header {
    font-size: 50px;
    float: left;
    margin-left: 10px;
    text-shadow: rgba(0, 0, 0, .8) 10px 10px 7px;
}
#header a {
    color: #FFFFFF;
    text-decoration: none;
}

/* GitHub, Twitter, LinkedIn links */
.upper_link_pictures {
    float: right;
    margin: 10px;
    text-shadow: rgba(0, 0, 0, .8) 10px 10px 7px;
}
.upper_link_pictures a {
    text-decoration: none;
    margin-right: 10px;
}
.home_links {
    color: #FFFFFF;
    font-size: 50px;
}

/* Inner Content Container */
.information_outer {
    width: 100%;
    height: 600px;
    left: 0;
    display:flex;
    justify-content:space-between;
}

/* Main Home links */
.info {
    height: 600px;
    width: 350px;
    display: inline-block;
    margin: auto;
}
.home {
	font-size: 100px;
    text-shadow: rgba(0, 0, 0, .8) 10px 10px 7px;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

/* Animation Defaults */
#pOuter {
    margin-top: 256px;
    text-align: left;
}
#aOuter {
    margin-top: 256px;
    text-align: center;
}
#cOuter {
    margin-top: 256px;
    text-align: right;
}
#pInfo {
    color: rgba(255, 255, 255, 0);
    font-family: 'Abel', sans-serif;
}
#aInfo {
    color: rgba(255, 255, 255, 0);
    font-family: 'Abel', sans-serif;
}
#cInfo {
    color: rgba(255, 255, 255, 0);
    font-family: 'Abel', sans-serif;
}

/* General text formatting rules */
.text {
    color: #FFFFFF;
    font-size: 16px;
}
.text a {
	text-decoration: underline;
	color: #FFFFFF;
}