#skills {
  background-color: #e6e6e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: rgb(27, 52, 75);
  font-size: calc(40px + 2vmin);
  font-weight: 100;
}